.project {
    display: flex;
    justify-content: space-between;
    padding: 5em 0;
}

.project__description {
    display: grid;
    grid-template-rows: 10% 20% 20% 50%;
}

.project__name {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase
}

.project__text {
    font-size: 20px;
    font-weight: 500;
}

.project__text__description {
    color: var(--cinza2);
    font-weight: 500;
}

.project__link {
   font-size: 20px;
   font-weight: 500;
   color: var(--preto);
   grid-row: span 2;
   align-self: flex-end;
}

.grey {
    color: var(--cinza2);
}


.project__image {
    margin-right: 10%;
    justify-self: center;
    align-self: center;
}

.project__photo {
    width: 130%;
}

.section__divider {
    background-color: var(--preto); 
    height: 2px;
    border: 0; 
}