@import url(./reset.css);
@import url(./header.css);
@import url(./headline.css);
@import url(./project.css);
@import url(./footer.css);
@import url(./about.css);

:root {

    --preto: #181717;
    --cinza: #6d6d6d;
    --cinza2: #606060;
    --cinza3: #9a9a9a;
    --branco: #f3f3f3;
    --azul: #2429AF;

    --fonte-principal: "Inter";

}

body {

    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    background-color: var(--branco);
    color: var(--preto);

}

.header,
.main,
.about__main {
    padding: 7em 10em;
}

.footer {
    padding: 5em 10em;
}